/*author Anthony Coulon*/

body {
	margin: 0;
	padding: 0;
	display: block !important;
	height: 100%;
	min-height: 740px;
	overflow-x: hidden;
	overflow-y: auto;
	transition: 2s;
	/*position: absolute;*/
}
section#container {
	background-color: rgb(128, 137, 146);
	background: -o-radial-gradient(rgb(144, 169, 221), rgb(128, 137, 146));
	background: -moz-radial-gradient(rgb(144, 169, 221), rgb(128, 137, 146));
	background: -webkit-radial-gradient(rgb(144, 169, 221), rgb(128, 137, 146));

	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	-webkit-perspective: 1000px;
	-webkit-transform: translate3d(0, 0, 0);
}

section#repere {
	position: absolute;
	left: 50%;
	top: 93%;
}
section#repere img {
	margin-right: 5px;
}

article {
	width: 900px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -350px;
	margin-left: -475px;
	padding: 30px;
	border: 2px solid grey;
	border-radius: 10px;
	background-color: white;
	display: none;
	transition: .3s ease-in-out;
}

footer {
	position: absolute;
	bottom: 15px;
	width: 100%;
}

section.line {
	width: 94%;
	height: 5px;
	background-color: blue;
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	margin-bottom: 15px;
}

/*article.animate {
	-webkit-transform: rotate(360deg);
	-webkit-transition: 1s;
	left: 500px;
}*/
article.current {
	display: block;
	
	-webkit-transform: translate3d(0, 0, 0);

	transform: translate(0);
	-o-transform: translate(0);
	-moz-transform: translate(0);
}
article.next {
	display: block;
	-webkit-transform: translate3d(1020px, 0, 0);

	transform: translate(1020px);
	-o-transform: translate(1020px);
	-moz-transform: translate(1020px);
}
article.past {
	display: block;
	-webkit-transform: translate3d(-1020px, 0, 0);

	transform: translate(-1020px);
	-o-transform: translate(-1020px);
	-moz-transform: translate(-1020px);
}
